html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: #fff;
    border-bottom: 1px solid #ddd;
}

#header .hd_wrap .inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 8rem;
}

#header .hd_wrap .inner h1 img {
    width: 16rem;
    height: 100%;
}

#header .hd_wrap .inner .gnb>ul {
    display: flex;
    gap: 4rem;
}

#header .hd_wrap .inner .gnb>ul>li>a {
    display: block;
    line-height: 8rem;
    font-size: 1.7rem;
}

#header .gnb>ul>li {
    position: relative;
}

#header .gnb>ul>li ul {
    position: absolute;

    top: auto;
    /*제자리*/
    left: 50%;

    padding: 8px 0;
    /*아래위1.6 좌우0*/

    opacity: 0;
    visibility: hidden;
    /*애니메이션만들어줄거다.*/
    transform: translate(-50%, 0);
    /*0에서 -24px까지 올라온다.*/

    white-space: nowrap;
    font-size: 1.5rem;

    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    /*좌우안떨어지고4px*/

    transition: 0.4s;
}

#header .gnb>ul>li:hover ul {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -12px);
    /*애니메이션만드는방법*/
}

#header .gnb>ul>li:focus-within ul {
    /*focus-within 탭키 눌렀을때 메뉴 다 나올 수 있게 하는 방법*/
    opacity: 1;
    visibility: visiblel;
    transform: translate(-50%, -12px);
}

#header .gnb>ul>li ul a {
    display: block;
    line-height: 4rem;
    padding: 0 4rem;

    text-align: center;
}


#header .hd_wrap .inner .utils {
    display: flex;
    gap: 1rem;
}

.mbtn {
    display: none;
}

@media (max-width:768px) {
    #header .hd_wrap .inner .gnb {
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 999;

        background: #fff;
        border-right: 1px solid #ddd;

        height: 200vh;
        width: calc(100% - 144px);

        padding: 12rem 2.4rem 0 2.4rem;
    }

    #header .hd_wrap .inner .gnb.on {
        /* 반응형 */
        left: 0;
    }


    #header .hd_wrap .inner .gnb>ul {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    #header .hd_wrap .inner .gnb>ul>li>a {
        line-height: 4rem;
        border-top: 1px solid #ddd;
        border-bottom: none;
    }

    #header .gnb>ul>li>ul a {
        background: #fff;
        border: 1px solid #ddd;
        border-bottom: none;
    }


    #header .gnb>ul>li {
        position: relative;
    }

    #header .gnb>ul>li ul {
        position: static;
        transform: translate(0, 0);
        visibility: visible;
        opacity: 1;
        transition: none;

        display: none;
        padding: 0 0;
        box-shadow: none;
    }

    #header .gnb>ul>li:hover ul {
        display: block;
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0);
    }

    #header .gnb>ul>li:focus-within ul {
        transform: translate(0, 0);
    }

    #header .gnb>ul>li ul a {
        background: #f9f9f9;
    }

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
        height: 2.5px;
    }

    .mbtn {
        display: block;
        position: absolute;
        top: 1.6rem;
        right: 8px;
        z-index: 1000;
        background: none;
        border: none;
        cursor: pointer;
    }

    #header .hd_wrap .inner .utils {
        display: none;
    }
}



.main_visual {
    position: relative;
}

.main_visual .main_visual_slide .itm {
    position: relative;
    height: 100vh;
    overflow: hidden;
    /*overflow: hidden 꼭 적어야 parallax슬라이드가 구현된다.*/
}

.main_visual .main_visual_slide .itm .bg {
    position: absolute;
    inset: 0 0 0 0;
}

.main_visual .main_visual_slide .itm01 .bg {
    background: url(../images/main_visual01.jpg) no-repeat center center/cover;
}

.main_visual .main_visual_slide .itm02 .bg {
    background: url(../images/main_visual02.jpg) no-repeat center top/cover;
}

.main_visual .main_visual_slide .itm03 .bg {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.25) 10%, transparent 90%), url(../images/main_visual03.jpg) no-repeat center center/cover;
}


.main_visual .slg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 144rem;
    margin: 0 auto;
    width: 100%;

    flex-direction: column;
}



.main_visual .itm01 .slg strong {
    color: #333;
}

.main_visual .itm01 .slg p {
    color: #333;
}

.main_visual .itm03 .slg strong {
    color: #333;
}

.main_visual .itm03 .slg p {
    color: #333;
}

.main_visual .main_visual_slide .itm02 .default_btn {
    color: #fff;
    border: 1px solid #fff;
}


.main_visual .wheel {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translate(-50%, 0);

    height: 60px;

    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    z-index: 10;

    text-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
}

.main_visual .wheel::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 32px;
    height: 48px;
    border: 2px solid #fff;
    border-radius: 16px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
}

.main_visual .wheel::after {
    content: "";
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 2px;
    height: 8px;
    background: #fff;

    animation: wheel 1s infinite;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
}

@keyframes wheel {
    0% {
        transform: translate(-50%, 0);
    }

    100% {
        transform: translate(-50%, 4px);
    }
}


@media (max-width: 1470px) {
    .main_visual .slg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        max-width: 144rem;
        margin: 0 auto;
        width: 100%;

        flex-direction: column;

        /*  */

        margin: 0 1.6rem;
    }
}

@media (max-width: 768px) {
    .main_visual .main_visual_slide .itm {
        position: relative;
        height: 100vh;
        overflow: hidden;
        /*overflow: hidden 꼭 적어야 parallax슬라이드가 구현된다.*/
    }

    .main_visual .main_visual_slide .itm .bg {
        position: absolute;
        inset: 0 0 0 0;
    }

    .main_visual .main_visual_slide .itm01 .bg {
        background: url(../images/main_visual01.jpg) no-repeat center center/cover;

        /*  */
        background: url(../images/main_visual01.jpg) no-repeat 50% center/cover;
    }

    .main_visual .main_visual_slide .itm02 .bg {
        background: url(../images/main_visual02.jpg) no-repeat center top/cover;

        /*  */
        background: url(../images/main_visual02.jpg) no-repeat 70% top/cover;
    }

    .main_visual .main_visual_slide .itm03 .bg {
        background: linear-gradient(to right, rgba(255, 255, 255, 0.25) 10%, transparent 90%), url(../images/main_visual03.jpg) no-repeat center center/cover;

        /*  */
        background: linear-gradient(to right, rgba(255, 255, 255, 0.25) 10%, transparent 90%), url(../images/main_visual03.jpg) no-repeat 60% center/cover;
    }


    .main_visual .slg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        max-width: 144rem;
        margin: 0 auto;
        width: 100%;

        flex-direction: column;

        /*  */
        top: 70%;
        margin: 0 1.6rem;
    }


    .main_visual .slg strong {
        font-size: 5vw;
        margin-bottom: 8px;
    }

    .main_visual .slg p {
        font-size: 2.5vw;
    }

    .main_visual .slg .default_btn {
        /*  */

        padding: 0 clamp(1.2rem, 2vw, 2.4rem);
        min-height: clamp(3.2rem, 4vw, 4rem);

        font-size: clamp(1.2rem, 1.5vw, 1.4rem);
    }
}

.main_product .tab_product {
    display: flex;
    justify-content: center;
}

.main_product .tab_product button {
    position: relative;
    height: 4rem;
    padding: 0 2.4rem;
    border-bottom: 1px solid #ddd;
    color: #929292;
    margin-bottom: 3.6rem;
}

.main_product .tab_product button.on {
    color: #333;
}

.main_product .tab_product button:hover {
    color: #333;
}

.main_product .tab_product button::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0;
    height: 1px;
    background: #333;
    transition: 0.5s;
}

.main_product .tab_product button.on::after {
    width: 100%;
}



.main_product .tab_product_content strong {
    margin-top: 2.4rem;
}

.main_product .tab_product_content .con {
    display: flex;
    justify-content: center;
    gap: 3rem;
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

.main_product .tab_product_content .con.on {
    visibility: visible;
    height: auto;
}


.main_product.default .price_wrap span.price {
    font-weight: 600;
}

.main_product.default .price_wrap span.discount {
    color: #da291c;
}

@media (max-width: 768px) {

    .main_product .tab_product {
        flex-wrap: wrap;
        gap: 8px;
    }

    .main_product .tab_product button {

        position: relative;
        height: 4rem;
        padding: 0 2.4rem;
        border-bottom: 1px solid #ddd;
        color: #929292;
        margin-bottom: 3.6rem;

        /*  */
        height: 2.4rem;
        padding: 0 1.6rem;
        margin-bottom: 1.6rem;

        font-size: clamp(12px, 2vw, 18px);
        white-space: normal;
        text-align: center;

    }

    .main_product .tab_product button.on {
        color: #333;

    }

    .main_product .tab_product button:hover {
        color: #333;
    }

    .main_product .tab_product button::after {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 0;
        height: 1px;
        background: #333;
        transition: 0.5s;
    }

    .main_product .tab_product button.on::after {
        width: 100%;
    }





    .main_product .tab_product_content strong {
        margin-top: 2.4rem;
    }

    .main_product .tab_product_content .con {
        /*  */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }



    .main_product .tab_product_content .con.on {
        visibility: visible;
        height: auto;
    }


    .main_product.default .price_wrap span.price {
        font-weight: 600;
    }

    .main_product.default .price_wrap span.discount {
        color: #da291c;
    }
}

.main_banner {
    position: relative;
    padding: 30rem 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.25) 10%, transparent 90%), url(../images/main_banner01.jpg) no-repeat center top/cover;

}

.main_banner .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;

}

.main_banner .title {
    color: #fff;
}

.main_banner .title h2 {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 8px;
}

.main_banner .title .default_btn {
    border: 1px solid #fff;
    margin-top: 3.2rem;
}

@media (max-width: 768px) {

    .main_banner {
        position: relative;
        padding: 30rem 0;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.25) 10%, transparent 90%), url(../images/main_banner01.jpg) no-repeat 60% top/cover;

    }

    .main_banner .inner {
        /*  */
        top: 70%;
    }

    .main_banner .title {
        color: #fff;
        /*  */

    }

    .main_banner .title h2 {
        /*  */
        font-size: 5vw;
    }

    .main_banner .title p {
        /*  */
        font-size: 2.5vw;
    }

    .main_banner .title .default_btn {
        padding: 0 clamp(1.2rem, 2vw, 2.4rem);
        min-height: clamp(3.2rem, 4vw, 4rem);

        font-size: clamp(1.2rem, 1.5vw, 1.4rem);

    }
}

.main_deal {
    position: relative;
}

.main_deal img {
    width: 100%;
    height: 56rem;

    display: block;

}

.main_deal .swiper-wrapper {
    transition-timing-function: linear;
}


.main_deal strong {
    margin-top: 2.4rem;
}

.main_deal .price {
    font-weight: 600;
}

.main_deal .discount {
    color: #da291c;
}

.main_deal .page_bar {
    position: absolute;
    top: auto;
    bottom: 40px;
    left: auto;
    right: auto;
    height: 2px;

    left: 50%;
    transform: translate(-50%, 0);

    width: 100%;

    max-width: 400px;
    background: #ddd;
}

.main_deal .page_bar span {
    background: #111;
}

@media (max-width: 768px) {

    .main_deal strong {
        /*  */
        font-size: 3vw;
    }

    .main_deal p {
        /*  */
        font-size: clamp(1.4rem, 2vw, 2.2rem);
    }


    .main_deal .price_wrap {
        /*  */
        font-size: clamp(1.4rem, 1.5vw, 1.8rem);
        line-height: 2.4rem;
    }
}

.main_promotion {
    background: #f2f2f2;
}

.main_promotion .inner {
    display: flex;
    gap: 3rem;
}

.main_promotion .inner .itm {
    position: relative;
    flex: 1;
}


.main_promotion .inner .itm figure {
    position: relative;
}

.main_promotion .inner .itm figure::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.5) 90%);
}

.main_promotion .inner .itm .txt {
    position: absolute;
    left: 50%;
    bottom: 6.4rem;
    transform: translate(-50%, 0);
    color: #fff;
}


.main_promotion .inner .itm .txt strong {
    text-align: start;
    font-size: 3.2rem;
    line-height: 3.2rem;
    white-space: nowrap;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.main_promotion .inner .itm .txt p {
    margin-top: 8px;
    text-align: start;
    color: #fff;
    white-space: nowrap;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.main_promotion .inner .itm .default_btn {
    margin-top: 1.6rem;
    border: 1px solid #fff;
}


* {
    outline: 1px solid tomato--;
}

#footer {
    border-top: 1px solid #ddd;
    padding: 64px 0;
    background: #f9f9f9;
}


#footer .inner {
    display: flex;
    flex-direction: column;
    /*flex방향을바꿔준다*/
    align-items: center;
}

#footer .customer {
    display: flex;
    gap: 2.4rem;

    font-size: 1.5rem;
    line-height: 1.6rem;

    margin-bottom: 2.4rem;
}

#footer p {
    display: flex;
    gap: 3.2rem;

    font-size: 1.4rem;
    line-height: 1.6rem;

    margin: 4px;
}

#footer p span {
    position: relative;
}

#footer p span~span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -1.6rem;
    width: 1px;
    height: 0.5em;
    background: #333;

    transform: translate(0, -50%);
}

#footer address {
    margin-top: 2.4rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

@media (max-width: 768px) {}